EXPO_PUBLIC_SUPABASE_URL=https://nhrrdwbbeeidtyztdoqg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_FhENmb3tEoOJB4tUP3r6Vg_Qw9kWixR
EXPO_PUBLIC_OPENAI_MODEL=gpt-4.1-mini
EXPO_PUBLIC_USE_AI_EDGE=false